<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>611684726544-32avkefnmp6bflooiqkpg41lfraecjfd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.611684726544-32avkefnmp6bflooiqkpg41lfraecjfd</string>
	<key>API_KEY</key>
	<string>AIzaSyCFyc7IW5Tr949B2sRUsQgVwxVLgOF6qW4</string>
	<key>GCM_SENDER_ID</key>
	<string>611684726544</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eCommerece</string>
	<key>PROJECT_ID</key>
	<string>e-commere-18ac3</string>
	<key>STORAGE_BUCKET</key>
	<string>e-commere-18ac3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:611684726544:ios:c1b1e3d5387590de149795</string>
</dict>
</plist>